<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Games"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ActivityTheme">
        <activity
            android:name=".Mastermind"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Dames"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chomp"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Freecell"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Solitaire"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Snake"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Echecs"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pow_2"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cinq"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Hex"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Demineur"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Labyrinthe"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Sudoku"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Puissance_4"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Taquin"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Jeu_de_la_vie"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>